.app {
    padding: 30px;
    display:flex;
    justify-content: center; 
  }
  .list {
    width:400px;
    border-radius: 4px;
    max-width: 400px;
    padding: 5px;
    /* border:red 2px  solid; */
  }
  .todo {
    height:35px;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border:3px solid rgb(222,189,161,0.8);
    border-radius: 8px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 4px 10px;

  }
  .btn-todo1{
    border:none;
    width:60px;
    border-radius:8px;
    background-color:rgba(255, 255, 255, 0.3);
    padding:5px;


  }
    .btn-todo2{
    border:none;
    width:30px;
    border-radius:8px;
    padding:3px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left:5px;
  }
  .input{
    background-color: rgba(255, 255, 255, 0.3);
    border:3px solid rgb(222,189,161,0.8);

  }
.bt{
   display:flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   padding:3%;
   gap: 15px;
}

.bt {
  margin-right: 100px;
   background-color:transparent;
   text-justify: center;
   width: 120px;
   height: 70px;
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   border:0.5px solid rgb(94, 91, 91); 
   font-size:18px;          
   border-radius: 10px;
   cursor: pointer;
   color:rgb(94, 91, 91)
  
 }
  .bt:hover {
   background-position: right center; /* change the direction of the change here */
   color:black;
   text-decoration: none;
   cursor: pointer;
 }
 


   
         



      

         

 