body{
  height: 100%;
}
.App {
text-align: center;
background-image: url('./components/Images/coverbaby.jpg');
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  opacity:0.9;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}
/* @media  screen(max-width:1000px){
  overflow-y:scroll;
} */







