body{
  overflow: hidden;
  height: 100%;
}
.App {
text-align: center;
background-image: url('./components/Images/coverbaby.jpg');
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-color: #E8DBD1;
  opacity:0.85;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  overflow-y: hidden;
}





