body{
  /* overflow-y: hidden; */
  /* height:96vh; */
  height:100vh;
  /* overflow-y: hidden; */


}
.App {
text-align: center;
background-image: url('./components/Images/coverbaby.jpg');
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  /* opacity:0.9; */
  height: 100%;
  font-family: Arial, Helvetica, sans-serif; 
  
}

  @media screen and (max-width: 60rem) {
  .App{
   /* overflow:auto;   */
    height: 150%;
    }
  }









