.LoginPage-Div{
    display:flex;
    height:100vh;

}
.LoginImage{
    background: url("../Images/feet2.jpg") no-repeat center center/cover;
  /* height: 100%; */
  width:100%;
}
.LoginSignIn{
  display:flex;
  justify-content: center;
}
.PaperStyle{
  padding:20px;
  height: 60vh;
  width: 50vh;
  margin-top:20px;
  opacity: calc(0.4);
  border:none;
  border-radius:30%;
}
.AvatarStyle{
  background-color:red; 
}
.btnStyle{
  margin-top:8px;
}
.Links-Login{
  margin-top:8px;
}
