/* .hila{
    height: 30px;
    width:50px;
    display:flex;
    justify-content: center;
} */
 /* .form{
    display:flex;
    justify-content:space-between;
} 
   */
   .todo-list {
    background: #e8e8e8;
     border-radius: 4px;
     max-width: 400px;
     padding: 5px;
         }
     
     .weight {
       align-items: center;
       background: #fff;
       border-radius: 3px;
       box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
       display: flex;
       font-size: 18px;
       justify-content: space-between;
       margin-bottom: 6px;
       padding: 3px 10px;
       height: 10px;
       width: 250px;
     }