
 .form{
    display:flex;
    justify-content:center;
    margin-top:10px;
} 
  
   .weight-list {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
     border-radius: 6px;
     font-size: 14px;
     justify-content: space-between;
     margin-bottom: 6px;
     padding: 4px 10px;
     gap:5px;

   }
     .weight {
      display: flex;
      flex-direction: column;
      border:3px solid rgb(222,189,161,0.8);
      border-radius:8px;
      background-color: rgba(255, 255, 255, 0.3);

       font-size: 14px;
       width: 325px;
border-radius: 6px;
max-width: 400px;
padding: 5px;
     
     }